<h2 class="mat-h2">Person Details</h2>
<div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="75">
        <app-tree-viewer [data]="person"></app-tree-viewer>
    </div>
    <div fxFlex="25" fxLayout="column" class="person-detail-container">    
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="40" fxLayoutAlign="end" class="person-detail-label">ID:</div>
            <div fxFlex="60" fxLayoutAlign="start" class="person-detail-text">{{ person.id }}</div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="40" fxLayoutAlign="end" class="person-detail-label">First&nbsp;Name:</div>
            <div fxFlex="60" fxLayoutAlign="start" class="person-detail-text">{{ person.firstName }}</div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="40" fxLayoutAlign="end" class="person-detail-label">Middle&nbsp;Name:</div>
            <div fxFlex="60" fxLayoutAlign="start" class="person-detail-text">{{ person.middleName }}</div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="40" fxLayoutAlign="end" class="person-detail-label">Last&nbsp;Name:</div>
            <div fxFlex="60" fxLayoutAlign="start" class="person-detail-text">{{ person.lastName }}</div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="40" fxLayoutAlign="end" class="person-detail-label">Gender:</div>
            <div fxFlex="60" fxLayoutAlign="start" class="person-detail-text">{{ person.gender | gender }}</div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="40" fxLayoutAlign="end" class="person-detail-label">Date&nbsp;of&nbsp;Birth:</div>
            <div fxFlex="60" fxLayoutAlign="start" class="person-detail-text">{{ person.dateOfBirth | date }}</div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="40" fxLayoutAlign="end" class="person-detail-label">Date&nbsp;of&nbsp;Death:</div>
            <div fxFlex="60" fxLayoutAlign="start" class="person-detail-text">{{ person.dateOfDeath | date }}</div>
        </div>
    </div>
</div>
<div fxLayout="column" class="margin-top20">
    <!-- This is a placeholder for records caroussel - records related to this person. -->
    <h3 class="mat-h3">Related Records</h3>
    <div fxLayout="row wrap" fxLayoutGap="10px">
        <div class="margin-top20" style="width: 150px; height: 150px; border: 1px solid red;">Record 1</div>
        <div class="margin-top20" style="width: 150px; height: 150px; border: 1px solid red;">Record 2</div>
        <div class="margin-top20" style="width: 150px; height: 150px; border: 1px solid red;">Record 3</div>
        <div class="margin-top20" style="width: 150px; height: 150px; border: 1px solid red;">Record 4</div>
        <div class="margin-top20" style="width: 150px; height: 150px; border: 1px solid red;">Record 5</div>
        <div class="margin-top20" style="width: 150px; height: 150px; border: 1px solid red;">Record 6</div>
    </div>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" class="margin-top20">
    <a mat-button routerLink="/research/persons/search">Close</a>
    <a mat-raised-button color="accent" routerLink="/research/persons/edit/{{ person.id }}">Edit</a>
</div>