<div>
    <h2 class="mat-h2">Record Details</h2>
  </div>
<div fxLayout="row" fxLayout.xs="column">

  <div fxFlex="80">
    <app-image-viewer *ngIf="hasImage"
    [images]="images"
    [idContainer]="'idOnHTML'"
    [loadOnInit]="true"
    [showPDFOnlyOption]="false"
    primaryColor="#2c2c2c" [buttonsColor]="'#e8f7fe'" [buttonsHover]="'#fff6af'"></app-image-viewer>
  </div>
  <div fxFlex="20" class="record-detail-container">
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="40" fxLayoutAlign="end" class="record-detail-label">ID:</div>
      <div fxFlex="60" fxLayoutAlign="start" class="record-detail-text">{{ record.id }}</div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="40" fxLayoutAlign="end" class="record-detail-label">Date:</div>
      <div fxFlex="60" fxLayoutAlign="start" class="record-detail-text">{{ record.recordDate | date }}</div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="40" fxLayoutAlign="end" class="record-detail-label">Type:</div>
      <div fxFlex="60" fxLayoutAlign="start" class="record-detail-text">{{ record.recordType | recordType }}</div>
    </div>    
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="40" fxLayoutAlign="end" class="record-detail-label">No.:</div>
      <div fxFlex="60" fxLayoutAlign="start" class="record-detail-text">{{ record.number }}</div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="40" fxLayoutAlign="end" class="record-detail-label">Street:</div>
      <div fxFlex="60" fxLayoutAlign="start" class="record-detail-text">{{ record.street }}</div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="40" fxLayoutAlign="end" class="record-detail-label">Town:</div>
      <div fxFlex="60" fxLayoutAlign="start" class="record-detail-text">{{ record.town }}</div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="40" fxLayoutAlign="end" class="record-detail-label">Country:</div>
      <div fxFlex="60" fxLayoutAlign="start" class="record-detail-text">{{ record.country }}</div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="40" fxLayoutAlign="end" class="record-detail-label">Folio:</div>
      <div fxFlex="60" fxLayoutAlign="start" class="record-detail-text">{{ record.folio }}</div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="40" fxLayoutAlign="end" class="record-detail-label">Registry:</div>
      <div fxFlex="60" fxLayoutAlign="start" class="record-detail-text">{{ record.registry }}</div>
    </div>
    <div *ngIf="record.persons.length > 0" fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="40" fxLayoutAlign="end" class="record-detail-label">People:</div>
      <div fxFlex="60" fxLayoutAlign="start" class="record-detail-text" fxLayout="column">
        <div *ngFor="let p of record.persons">
          {{ p.firstName }} {{ p.lastName }} ({{ p.role | personRole }})
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="40" fxLayoutAlign="end" class="record-detail-label">
        <a mat-raised-button routerLink="/research/records/search">Close</a>
      </div>        
      <div fxFlex="60" fxLayoutAlign="start" fxLayoutGap="10px">        
        <a mat-raised-button color="accent" routerLink="/research/records/edit/{{ record.id }}">Edit</a>        
      </div>
    </div>
  </div>

</div>
