<div fxLayout="column">
  <div fxLayout="column">
    <div class="bordered-div" *ngIf="mode=='edit'">
    <form (ngSubmit)="submit()" [formGroup]="connectedPerson">
      <div fxLayout="row">
        <h4 class="mat-h4">Insert new person details:</h4>
      </div> 
      <input type="hidden" formControlName="id" />
      <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="20" fxLayoutAlign="start center">
          Person Role:
        </div>
        <div>
          <mat-form-field>
            <mat-select required formControlName="personRole">
              <mat-option *ngFor="let o of personRoles" [value]="o">{{ o | personRole }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>        
      </div>    
      <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="20" fxLayoutAlign="start center">
            Name:
        </div>
        <div fxLayoutGap="10px" fxLayout="row">
          <div>
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input matInput type="text" formControlName="firstName" required />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input matInput type="text" formControlName="lastName" required />
            </mat-form-field>
          </div>
        </div>            
      </div> 
      <div fxLayout="row wrap">
          <div fxLayoutAlign="start center" fxFlex="1 1 20%">Date of Birth:</div>
          <div>
            <mat-form-field>
              <mat-label>DOB:</mat-label>            
              <input matInput [matDatepicker]="dobDatePicker" formControlName="dob">
              <mat-datepicker-toggle matSuffix [for]="dobDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #dobDatePicker ></mat-datepicker>
              <mat-error></mat-error>
            </mat-form-field>          
          </div>
        </div>
        <div fxLayout="row" *ngIf="mustSaveNewPerson">
          <span class="warning">New person will be created when submitted!</span>
        </div>
    </form>
    </div>
    <div fxLayout="row" class="divider-div" *ngIf="mode=='edit'">
      <h3 class="mat-h3"> - OR - </h3>      
    </div>
    <div fxLayout="column" class="bordered-div">
      <div *ngIf="mode=='edit'">
      <div fxLayout="row">
        <h4 class="mat-h4">Copy details from existing person:</h4>
      </div> 
      <div fxLayout="row">
      <button mat-raised-button color="primary" (click)="showSearch()">
        Search Persons
      </button>
      </div>
      </div>      
      <div *ngIf="mode=='search'">          
        <app-person-search [isInRecordContext]="true" (selected)="onPersonSelected($event)" (cancelled)="cancelSearch($event)"></app-person-search>          
      </div>
    </div>
  </div>
</div>