<div>
  <h2 class="mat-h2">Person Search by Criteria</h2>
  <app-filters-person (selected)="onSelectedFilters($event)" (cancelled)="onCancelled($event)" [showCancelButton]="isInRecordContext"></app-filters-person>
  <div layout="row">
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
            <mat-cell *matCellDef="let p">{{ p.id }}</mat-cell>      
          </ng-container>

      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
        <mat-cell *matCellDef="let p">{{ p.firstName }}</mat-cell>      
      </ng-container>

      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
        <mat-cell *matCellDef="let p">{{ p.lastName }}</mat-cell>      
      </ng-container>

      <ng-container matColumnDef="dob">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birth</mat-header-cell>
        <mat-cell *matCellDef="let p">{{ p.dateOfBirth | date }}</mat-cell>      
      </ng-container>

      <ng-container matColumnDef="dod">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Date of Death</mat-header-cell>
        <mat-cell *matCellDef="let p">{{ p.dateOfDeath | date }}</mat-cell>      
      </ng-container>

      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Gender</mat-header-cell>
        <mat-cell *matCellDef="let p">{{ p.gender }}</mat-cell>      
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let p">
          <button *ngIf="isInRecordContext==true" mat-button (click)="select(p.id)">
            <mat-icon>check_circle_outline</mat-icon>
          </button>
          <button *ngIf="isInRecordContext==false" mat-button routerLink="/research/persons/{{p.id}}" aria-label="View Person">
              <mat-icon>folder</mat-icon>
          </button>
          <a *ngIf="isInRecordContext==false" mat-button routerLink="/research/persons/edit/{{p.id}}" aria-label="Edit Person">
              <mat-icon>edit</mat-icon>
          </a>
          <button *ngIf="isInRecordContext==false" mat-button (click)="delete(p)" aria-label="Delete Person">
              <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>      
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
    </mat-table>
  </div>
  <div fxLayout="row" fxLayoutAlign="start">
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>